img{
    float:left;
    padding: 50px;
  }
  
  .card{
    text-align: left;
    font-size: 20px;
    width: 800px;
    background-color: #282c34;
    color: white;
    margin-top: 10px;
  }
  
  .nome{
    font-weight: bold;
    
  }