.cardAdicionar{
    text-align: left;
    font-size: 20px;
    width: 570px;
    background-color: #092452;
    color: white;
    margin-bottom: 10px;
    padding: 20px;
}

#nome{
    margin-bottom: 20px;
    width: 100%;
}
#descricao{
    width: 100%;
}

label{
    display: flex;
}

button{
    margin-left: 45%;
}